<HTML>
<body>
<div class = "jumbotron min-vh-100 bg-light m-0 d-flex flex-column">
  <div class = "container">
      <div class = "col-md-6">
<div class = "recovery-form bg-dark">
  <h3>Reset your password</h3>
  <form [formGroup] = "recoveryForm" (ngSubmit) = "onSubmit()">
    <div class = "form-group">
      <label for = "emailRecoveryForm">
        <input type = "text" formControlName = "email" id = "emailRecoveryForm"
               class = "form-control"
               placeholder = "Email" autocomplete = "off" />
      </label>
      <div *ngIf = "recoveryForm.controls['email'].invalid && (recoveryForm.controls['email'].dirty || recoveryForm.controls['email'].touched)"
           class = "alert alert-danger">
        <password-recovery-messages [control] = "recoveryForm.get('email')"></password-recovery-messages>
      </div>
    </div>
    <button class = "btn btn-info my-4 btn-block" type = "submit" [disabled] = "!recoveryForm.valid">Reset Password</button>
  </form>
</div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
</body>
</HTML>

