<html>
<app-header-main></app-header-main>
<body>
<div class = "jumbotron min-vh-100 bg-light m-0 d-flex flex-column">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-9 border-right">
				<ng-template [ngIf] = "dataTasksLenght > 0" [ngIfElse] = "elseBlock">
					<table class = "table table-striped table-break-word">
						<thead>
						<tr>
							<th scope = "col">Key</th>
							<th scope = "col">Name</th>
							<th scope = "col">Priority</th>
							<th scope = "col">Status</th>
							<th scope = "col">Type</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor = "let task of dataTasks">
							<td><a [routerLink] = "['/secure/tasks/' + task.key]"> {{task.key}}</a></td>
							<td class = "font-italic">{{task.name}}</td>
							<td class = "border font-weight-bold rounded"
							    [ngStyle] = "{'color': task.priority.textColor, 'background-color': task.priority.backgroundColor}">{{task.priority.value}}</td>
							<td class = "border font-weight-bold rounded"
							    [ngStyle] = "{'color': task.status.textColor, 'background-color': task.status.backgroundColor}">{{task.status.value}}</td>
							<td class = "border font-weight-bold rounded"
							    [ngStyle] = "{'color': task.type.textColor, 'background-color': task.type.backgroundColor}">{{task.type.value}}</td>
						</tr>
						</tbody>
					</table>
				</ng-template>
				<ng-template #elseBlock>
					<div class = "text-center font-weight-bold">Your are currently not asigned to any task!</div>
				</ng-template>
			</div>
			<div class = "col-md-3 border-left">
				<div class = "button-container">
					<button class = "btn btn-info" matTooltip = "Display current sprint's board"
					        matTooltipPosition = "right" (click)="showBoard()">Show
					                                                                                            board
					</button>
				</div>
				<div *ngIf = "data.editProject" class = "button-container">
					<button class = "btn btn-info" matTooltip = "Update or delete project"
					        matTooltipPosition = "right" [routerLink] = "['/secure/' + projectName + '/settings']">
						Project
						settings
					</button>
				</div>
				<div *ngIf = "data.invite" class = "button-container">
					<button class = "btn btn-info" matTooltip = "Invite other to the project"
					        matTooltipPosition = "right" (click) = open(inviteToProject)>Invite
					                                                                     to
					                                                                     project
					</button>
				</div>
				<div *ngIf = "data.manageUsers" class = "button-container">
					<button class = "btn btn-info" matTooltip = "Update user's roles or remove them from the project"
					        matTooltipPosition = "right" [routerLink] = "['/secure/' + projectName + '/users']">Manage
					                                                                                            users
					</button>
				</div>
				<div *ngIf = "data.managePriorities" class = "button-container">
					<button class = "btn btn-info" matTooltip = "Manage task's priorities"
					        matTooltipPosition = "right"
					        [routerLink] = "['/secure/' + projectName + '/entries/PRIORITY']">
						Manage priorities
					</button>
				</div>
				<div *ngIf = "data.manageStatuses" class = "button-container">
					<button class = "btn btn-info" matTooltip = "Manage task's statuses"
					        matTooltipPosition = "right"
					        [routerLink] = "['/secure/' + projectName + '/entries/STATUS']">
						Manage statuses
					</button>
				</div>
				<div *ngIf = "data.manageTypes" class = "button-container">
					<button class = "btn btn-info" matTooltip = "Manage task's types"
					        matTooltipPosition = "right" [routerLink] = "['/secure/' + projectName + '/entries/TYPE']">
						Manage types
					</button>
				</div>
				<div *ngIf = "data.manageSprints" class = "button-container">
					<button class = "btn btn-info" matTooltip = "Manage project's sprints"
					        matTooltipPosition = "right" [routerLink] = "['/secure/' + projectName + '/sprints/list']">
						Manage
						sprints
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<ng-template #inviteToProject let-modal>
	<div class = "modal-header">
		<h4 class = "modal-title" id = "createModal">Invite to project!</h4>
		<button type = "button" class = "close" aria-label = "Close" (click) = "modal.dismiss()">
			<span aria-hidden = "true">&times;</span>
		</button>
	</div>
	<form [formGroup] = "projectInvitationForm" (ngSubmit) = "invite()" class = "text-center">
		<div class = "form-group">
			<div class = "d-inline-block" ngbDropdown #myDrop = "ngbDropdown">

				<input type = "text" formControlName = "username" id = "usernameInvitationForm"
				       class = "form-control"
				       placeholder = "Username" autocomplete = "off" (keyup) = "getUsernameList(); myDrop.open()" />

				<div *ngIf = "usernamesSize > 0" ngbDropdownMenu aria-labelledby = "projectNameInvitationForm">
					<div *ngFor = "let username of usernames" ngbDropdownAnchor>
						<button ngbDropdownItem type = "button"
						        (click) = "setValue(username);">{{username}}</button>
					</div>
				</div>
			</div>
			<div *ngIf = "projectInvitationForm.controls['username'].invalid && (projectInvitationForm.controls['username'].dirty)"
			     class = "alert alert-danger">

				<project-invitation-message
						[control] = "projectInvitationForm.get('username')"></project-invitation-message>

			</div>
		</div>
		<div class = "modal-footer">
			<button class = "btn btn-outline-dark" type = "submit">
				Invite!
			</button>
		</div>
	</form>
</ng-template>

</html>
