.button-container {
    display       : block;
    margin-bottom : 25px;
}

.button-container button {
    height      : 60px;
    font-size   : larger;
    border-left : 3px solid #888888;
    border-top  : 3px solid #888888;
    box-shadow  : 5px 5px #888888;
}

.border-left, .border-right {
    border-width : 2px !important;
}

/deep/ .mat-tooltip {
    font-size : large !important;
}
