<HTML>
<body>
<div class = "login-form bg-dark">
	<h3>Sign in</h3>
	<form [formGroup] = "loginForm" (ngSubmit) = "onSubmit()">
		<div class = "form-group">
			<label for = "usernameLoginForm">
				<input type = "text" formControlName = "username" id = "usernameLoginForm"
				       class = "form-control"
				       placeholder = "Username" autocomplete = "off" />
			</label>
			<div *ngIf = "loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
			     class = "alert alert-danger">
				<login-message [control] = "loginForm.get('username')"></login-message>
			</div>
		</div>
		<div class = "form-group">
			<label for = "passwordLoginForm">
				<input type = "password" formControlName = "password" id = "passwordLoginForm"
				       class = "form-control" placeholder = "Password" autocomplete = "off">
			</label>
			<div *ngIf = "loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
			     class = "alert alert-danger">
				<login-message [control] = "loginForm.get('password')"></login-message>
			</div>
		</div>
		<button class = "btn btn-info my-4 btn-block" type = "submit" [disabled] = "!loginForm.valid">Sign in</button>
	</form>
	<a [routerLink]="[ '/recovery' ]" class = "btn-forgot-password">Forget password?</a>
</div>
<router-outlet></router-outlet>
</body>
</HTML>
