<HTML>
<body>
<div class = "registration-form bg-dark">
	<h3>Sign up</h3>
	<form [formGroup] = "userForm" (ngSubmit) = "onSubmit()">
		<div class = "form-group">
			<label for = "defaultRegisterFormName">
				<input type = "text" formControlName = "username" id = "defaultRegisterFormName"
				       class = "form-control"
				       placeholder = "Username" autocomplete = "off" />
			</label>
			<div *ngIf = "userForm.controls['username'].invalid &&
			userForm.controls['username'].touched && !userForm.get('username').errors.usernameInUse" class = "alert alert-danger">
				<registration-message [control] = "userForm.get('username')"></registration-message>
			</div>
      <div *ngIf="userForm.get('username').status === 'VALID'" class = "alert alert-success">
        Username is available!
      </div>
      <div *ngIf="userForm.get('username').errors && userForm.get('username').errors.usernameInUse" class = "alert alert-danger">
        Username is already taken.
      </div>
		</div>
		<div class = "form-group">
			<label for = "defaultRegisterFormEmail">
				<input type = "text" formControlName = "email" id = "defaultRegisterFormEmail" class = "form-control"
				       placeholder = "Email" autocomplete = "off" />
			</label>
			<div *ngIf = "userForm.controls['email'].invalid && (userForm.controls['email'].touched)
            && !userForm.get('email').errors.emailInUse"
			     class = "alert alert-danger">
				<registration-message [control] = "userForm.get('email')"></registration-message>
			</div>
      <div *ngIf="userForm.get('email').status === 'VALID'" class = "alert alert-success">
        Email is available!
      </div>
      <div *ngIf="userForm.get('email').errors && userForm.get('email').errors.emailInUse" class = "alert alert-danger">
        Email is already taken.
      </div>
		</div>
		<div class = "form-group">
			<label for = "defaultRegisterFormPassword">
				<input type = "password" formControlName = "password" id = "defaultRegisterFormPassword"
				       class = "form-control" placeholder = "Password" autocomplete = "off" />
			</label>
			<div *ngIf = "userForm.controls['password'].invalid && userForm.controls['password'].touched"
			     class = "alert alert-danger">
				<registration-message [control] = "userForm.get('password')"></registration-message>
			</div>
		</div>
		<div class = "form-group">
			<label for = "defaultRegisterFormFirstName">
				<input type = "text" formControlName = "name" id = "defaultRegisterFormFirstName" class = "form-control"
				       placeholder = "First name" autocomplete = "off" />
			</label>
				<div *ngIf = "userForm.controls['name'].invalid && userForm.controls['name'].touched"
				     class = "alert alert-danger">
					<registration-message [control] = "userForm.get('name')"></registration-message>
				</div>
		</div>
		<div class = "form-group">
			<label for = "defaultRegisterFormSurname">
				<input type = "text" formControlName = "surname" id = "defaultRegisterFormSurname"
				       class = "form-control" placeholder = "Surname" autocomplete = "off" />
			</label>
			<div *ngIf = "userForm.controls['surname'].invalid && userForm.controls['surname'].touched"
			     class = "alert alert-danger">
				<registration-message [control] = "userForm.get('surname')"></registration-message>
			</div>
		</div>
		<button class = "btn btn-info my-4 btn-block" type = "submit" [disabled] = "!userForm.valid">Sign up</button>
	</form>
</div>
<router-outlet></router-outlet>
</body>
</HTML>
