<nav class = "navbar navbar-dark bg-dark navbar-expand-md">
	<div class = "navbar-collapse collapse w-25 order-1 order-md-0 dual-collapse2">
		<ul class = "navbar-nav mr-auto">
			<li class = "nav-item">
				<a class = "navbar-brand text-info" [routerLink] = "['/secure/mainDashboard']">Tasky</a>
			</li>
		</ul>
	</div>
	<div class = "navbar-collapse collapse w-75 order-1 order-md-0 dual-collapse2">
		<ul class = "navbar-nav mr-auto">
			<li class = "nav-item">
				<a class = "btn btn-info button-nav-link" [routerLink] = "[ '/secure/viewAllProjects' ]">View all
				                                                                                         projects</a>
			</li>&nbsp;
			<li class = "nav-item">
				<a class = "btn btn-info button-nav-link" [routerLink] = "" (click) = "open(content)">+ Create new
				                                                                                      project</a>
			</li>&nbsp;
		</ul>
	</div>
	<div class = "navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
		<ul class = "navbar-nav mx-auto">
			<li class = "nav-item">
				<a class = "btn btn-primary button-nav-link" [routerLink] = "">+ Create new task</a>
			</li>&nbsp;
		</ul>
	</div>
	<div class = "navbar-collapse collapse w-100 order-3">
		<ul class = "navbar-nav ml-auto">
			<li class = "nav-item">
				<div class = "input-group">
					<div class = "input-group-prepend">
						<span class = "input-group-text" id = "searchTask">
							<div class = "loupeContainer">
								<img [src] = "loupeIconPath">
							</div>
						</span>
					</div>
					<form [formGroup] = "searchForm">
						<div class = "d-inline-block" ngbDropdown #myDrop = "ngbDropdown">
							<input formControlName = "search" type = "search" class = "form-control"
							       placeholder = "Search for tasks"
							       aria-label = "Search for tasks"
							       aria-describedby = "searchTask" (keyup) = "getUsernameList(); myDrop.open()">
							<div *ngIf = "taskListSize > 0" ngbDropdownMenu
							     aria-labelledby = "projectNameInvitationForm">
								<tr *ngFor = "let task of taskList">
									<td>
										<button class = "w-100" ngbDropdownItem type = "button"
										        (click) = "myDrop.close(); search(task.key) ">{{task.key}} - {{task.name}}</button>
									</td>
								</tr>
							</div>
						</div>
					</form>
				</div>
			</li>&nbsp;
			<li class = "nav-item">
				<a class = "btn btn-warning button-nav-link" [routerLink] = "">Settings</a>
			</li>&nbsp;
			<li class = "nav-item">
				<a class = "btn btn-danger button-nav-link" [routerLink] = "" (click) = "logout()">Logout</a>
			</li>
		</ul>
	</div>
</nav>

<ng-template #content let-modal>
	<div class = "modal-header">
		<h4 class = "modal-title" id = "modal-basic-title">Create new project</h4>
		<button type = "button" class = "close" aria-label = "Close" (click) = "modal.dismiss()">
			<span aria-hidden = "true">&times;</span>
		</button>
	</div>
	<form [formGroup] = "newProjectForm" (ngSubmit) = "onSubmit()" class = "dropdown">
		<div class = "modal-body">

			<div class = "form-group">
				<label for = "defaultNewProjectFormName">

					<input type = "text" formControlName = "name" id = "defaultNewProjectFormName"
					       class = "form-control"
					       placeholder = "Name" autocomplete = "off" />
				</label>
				<div *ngIf = "newProjectForm.controls['name'].invalid && newProjectForm.controls['name'].touched"
				     class = "alert alert-danger">
					<new-project-message [control] = "newProjectForm.get('name')"></new-project-message>
				</div>
			</div>

			<div class = "form-group">
				<label for = "defaultNewProjectFormDescription">
						<textarea type = "text" formControlName = "description" id = "defaultNewProjectFormDescription"
						          class = "form-control"
						          placeholder = "Description" autocomplete = "off"></textarea>
				</label>
			</div>

		</div>
		<div class = "modal-footer">
			<button type = "submit" class = "btn btn-outline-dark" [disabled] = "!newProjectForm.valid">Create!</button>
		</div>
	</form>
</ng-template>
