<nav class = "navbar navbar-dark bg-dark navbar-expand-md">
	<div class = "navbar-collapse collapse w-25 order-1 order-md-0 dual-collapse2">
		<ul class = "navbar-nav mr-auto">
			<li class = "nav-item">
				<a class = "navbar-brand text-info" [routerLink] = "">Tasky</a>
			</li>
		</ul>
	</div>
	<div class = "navbar-collapse collapse w-75 order-1 order-md-0 dual-collapse2">
		<ul class = "navbar-nav mr-auto">
			<li class = "nav-item">
				<a class = "btn btn-info button-nav-link" [routerLink] = "">View all projects</a>
			</li>&nbsp;
			<li class = "nav-item">
				<a class = "btn btn-info button-nav-link" [routerLink] = "">+ Create new project</a>
			</li>&nbsp;
		</ul>
	</div>
	<div class = "navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
		<ul class = "navbar-nav mx-auto">
			<li class = "nav-item">
				<a class = "btn btn-primary button-nav-link" [routerLink] = "">+ Create new task</a>
			</li>&nbsp;
		</ul>
	</div>
	<div class = "navbar-collapse collapse w-100 order-3">
		<ul class = "navbar-nav ml-auto">
			<li class = "nav-item">
				<div class = "input-group">
					<div class = "input-group-prepend">
						<span class = "input-group-text" id = "searchTask"><div class = "loupeContainer"><img
								[src] = "loupeIconPath"></div></span>
					</div>
					<input type = "search" class = "form-control" placeholder = "Search for tasks"
					       aria-label = "Search for tasks"
					       aria-describedby = "searchTask">
				</div>
			</li>&nbsp;
			<li class = "nav-item">
				<a class = "btn btn-warning button-nav-link" [routerLink] = "">Settings</a>
			</li>&nbsp;
			<li class = "nav-item">
				<a class = "btn btn-danger button-nav-link" [routerLink] = "">Logout</a>
			</li>
		</ul>
	</div>
</nav>
