<html>
<app-header-main></app-header-main>
<body>
<div class = "jumbotron min-vh-100 bg-light m-0 d-flex flex-column">
	<div class = "container">
		<div class = "row">
			<div class = "col-md-12 align-self-center">
				<h2>Project settings</h2>
				<ng-template [ngIf] = "canUpdate" [ngIfElse] = "elseBlock">
					<form [formGroup] = "updateProjectForm" (ngSubmit) = "update()">
						<table class = "table table-break-word">
							<tbody>
							<tr>
								<th>Name</th>
								<td>
									<label for = "projectNameUpdateProjectForm">
										<input type = "text" formControlName = "name"
										       id = "projectNameUpdateProjectForm"
										       class = "form-control"
										       placeholder = "Project name" autocomplete = "off" />
									</label>
								</td>
								<td *ngIf = "canDelete"></td>
							</tr>
							<tr>
								<th>Description</th>
								<td>
									<label for = "descriptionUpdateProjectForm">
										<textarea autosize autofocus type = "text" formControlName = "description"
										          id = "descriptionUpdateProjectForm"
										          class = "form-control textarea-focus font-italic"
										          placeholder = "Project description"
										          autocomplete = "off"></textarea>
									</label>
								</td>
								<td *ngIf = "canDelete"></td>
							</tr>
							<tr>
								<th></th>
								<td>
									<button class = "btn btn-info" type = "submit"
									        [disabled] = "!updateProjectForm.valid">
										Update!
									</button>
								</td>
								<td *ngIf = "canDelete">
									<button (click) = "delete()" class = "btn btn-danger" type = "button">Delete!
									</button>
								</td>
								<td>
									<button class = "btn btn-info" type = "button" [routerLink]="['/secure/sprints/list/' + projectName]">List of sprints
									</button>
								</td>
								<td>
									<button class = "btn btn-info" type = "button" [routerLink]="['/secure/projectInvite/' + projectName]">Invite user
									</button>
								</td>
							</tr>
							</tbody>
						</table>
					</form>
				</ng-template>
				<ng-template #elseBlock>
					<table class = "table table-break-word">
						<tbody>
						<tr>
							<th>Name</th>
							<td>{{projectName}}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td class = "font-italic">{{projectDescription}}</td>
						</tr>
						</tbody>
					</table>
					<button *ngIf = "canDelete" (click) = "delete()" class = "btn btn-danger">Delete!</button>
				</ng-template>
			</div>
		</div>
	</div>
</div>
</body>
</html>
