<HTML>
<body>
<div class = "jumbotron min-vh-100 bg-light m-0 d-flex flex-column">
  <div class = "container">
    <div class = "col-md-6">
      <div class = "recovery-form bg-dark">
        <h3>Create new password</h3>
        <form [formGroup] = "recoveryForm" (ngSubmit) = "onSubmit()">
          <div class = "form-group">
            <label for = "passwordRecoveryForm">
              <input type = "password" formControlName = "password" id = "passwordRecoveryForm"
                     class = "form-control"
                     placeholder = "Password" autocomplete = "off" />
            </label>
            <div *ngIf = "recoveryForm.controls['password'].invalid && (recoveryForm.controls['password'].dirty || recoveryForm.controls['password'].touched)"
                 class = "alert alert-danger">
              <password-recovery-messages [control] = "recoveryForm.get('password')"></password-recovery-messages>
            </div>
          </div>
          <button class = "btn btn-info my-4 btn-block" type = "submit" [disabled] = "!recoveryForm.valid">Submit Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
</body>
</HTML>

